/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
/.vscode
/.phpunit.result.cache
/.env
/.env.backup
/.env.local
/.env.development
/.env.testing
/.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log